body {padding: 20px;}
#nav a{font-family: arial, verdana, sans-serif; font-size: 15px; color: #3B7CD5; text-decoration: none; cursor: pointer; padding: 10px; border: 1px solid #CFD7E4;}
#nav,
#container {width: 85%; margin: 0 auto;}
#spritest div {border: 1px solid #A8AEB8; display: block !important; position: static !important; margin: 5px; float:none !important;}
#nav h3 {float:left; margin-right: 20px;}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
hr {width: 90%; color: #A8AEB8;}
.fll {float: left;}